.el-tabs__item {    
    font-size: 19px ;
}
.el-tabs__nav-scroll {
    padding-left: 20px;
    margin-top: 5px;
}
.el-rate {
    width: 150px;
}
.el-card__header {
    padding-left: 0;
    background-color: #fff !important;
}
.el-timeline-item__content  {    
    padding-left: 25px;
    display: flex;
}
.el-card__body {
    padding: 0;
}
.el-timeline {
    height: 85vh;
}
.el-timeline-item__timestamp {
    width: 150px;
}
.el-timeline-item__wrapper {
    margin-left: 0px;
    padding-left: 0px;
}
